:root {
  --primary-color: black;
  --secondary-color: tomato;
}

body {
  background-color: #5584AC;
  color: var(--primary-color);
  font-size: 22px;
}

header {
  font-size: 22px;
  padding: 10px;
  text-align: right;
  font-weight: 500px;
}

h1 {
  text-align: center;
  padding: 10px;
}

p {
  text-align: center;
}
nav {
  background-color: var(--secondary-color);
}

.navbar-brand {
  width: 120px;
  text-align: left;
  background-color: var(--secondary-color);
  border-radius: 50px;
}
.navbar-toggler {
  background-color: var(--secondary-color);
}

button.btn-primary {
  text-transform: capitalize;
  margin: 10px;
  min-width: 250px;
  border-radius: 0px;
  color: var(--primary-color);
}
